

 nav {
 width:100%;
 text-align:center;
 background-color:#000000;
 font-family: algerian;
 }

 nav a {
 display: inline-block;
margin: 3px;
padding: 12px 20px;
background-color: #FF1200;
 color:#FFFFFF;
 font-family: algerian;
 text-decoration: none;
 font-size:1.5em;
border-radius: 6px;
transition: background-color 0.30s, color 0.30s;
      }

 nav a:hover {
 color: yellow;
 background-color: #654321;
 }

 body {
 background-image:url(fondo.jpg);
 background-size: cover;
 }
   
 section{
 background-color:#000000;
 color:#ffffff;
 text-align:center;
 width:45%;
 margin:80px auto;
 margin-top:30px;
padding: 40px;
border-radius: 10px;
 }

 header {
 color: #000000;
 background-color:#FFFFFF;
 text-align:center;
 font-family:ARIAL;
 }

 .logo h1 {
 font-size:3em;
 font-family:arial;
 } 

 .logo p{
 font-size:2em;
font-family:arial;
 }

 .container-form {
    width:100%;
    max-width: 1100px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;

}
.container-form h2{
    margin-bottom: 15px;
    font-size: 17px;
}
.container p{
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;
}

.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    color:black;
    width: 100;
    margin-bottom: 15px;
    font-weight: 700;
}
.container-form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border:1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius:3px;
    outline:0px;
}
.container-form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
    
}
.container-form .btn-enviar{
      padding: 15px;
      font-size:16px;
      border: none;
      background: orange;
      color: white;
      border-radius: 3px;
      cursor: pointer;
      transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
      color: white;
      background: #F34f43;
}
}


